<h2>Cart Details</h2>

<h3>Products in Cart:</h3>
<ul>
  {{#each cart.products}}
    <li>
      <a href="/products/{{this.product._id}}">{{this.product.title}}</a>
      - Quantity:
      <button class="quantity-btn" data-product-id="{{this.product._id}}" cart-id="{{../cart._id}}" data-action="subtract">-</button>
      <span class="quantity">{{this.quantity}}</span>
      <button class="quantity-btn" data-product-id="{{this.product._id}}" cart-id="{{../cart._id}}" data-action="add">+</button>

      <!-- Delete Button -->
      <button
        class="delete-product"
        data-product-id="{{this.product._id}}"
        cart-id="{{../cart._id}}"
      >Delete</button>
    </li>
    </li>
  {{/each}}
</ul>

<!-- Buy Button -->
<form action="/api/carts/{{cart._id}}/purchase" method="post">
  <button type="submit">Checkout</button>
</form>

<!-- Profile link -->
<a href="/profile">Check your Profile</a>

<!-- Back to Home link -->
<a href="/products">Start viewing products</a>

<!-- Logout Button -->
<form action="/api/sessions/logout" method="post">
  <button type="submit">Logout</button>
</form>

<script src="../js/cart.js"></script>