<h2>Checkout Details</h2>

<p><strong>Transaction Code:</strong> {{ticket.code}}</p>
<p><strong>Purchase Date:</strong> {{ticket.purchase_datetime}}</p>
<p><strong>Amount:</strong> ${{ticket.amount}}</p>
<p><strong>Purchaser's Email:</strong> {{ticket.purchaser}}</p>

{{#if purchasedProducts.length}}
  <p><strong>Purchased Products:</strong></p>
  <ul>
    {{#each purchasedProducts}}
      <li>Product ID: {{this.productId}} - Product Name: {{this.title}} - Quantity: {{this.quantity}}</li>
    {{/each}}
  </ul>
{{/if}}

{{#if unprocessedProducts.length}}
  <p><strong>Unprocessed Products:</strong></p>
  <ul>
    {{#each unprocessedProducts}}
      <li>Product ID: {{this.productId}} - Product Name: {{this.title}} - Quantity: {{this.quantity}}
    {{/each}}
  </ul>
{{/if}}

<a href="/products">Back to Home</a>