<h2>Welcome, {{user.first_name}} {{user.last_name}}!</h2>

<p>Email: {{user.email}}</p>
<p>Age: {{user.age}}</p>
<p>Role: {{user.role}}</p>

<!-- Conditional link based on user role -->
{{#ifAdmin user}}
  <!-- Users Page link for admin -->
  <a href="/users">View all the users</a>
{{else}}
  <!-- User Cart link for non-admin -->
  <a href="/carts/{{user.cart}}">View your cart</a>
{{/ifAdmin}}

<!-- Back to Home link -->
<a href="/products">Start viewing products</a>

<!-- Logout Button -->
<form action="/api/sessions/logout" method="post">
  <button type="submit">Logout</button>
</form>